<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>

<body class="antialiased" id="top">

    <!-- SEO hidden variants for name -->
    <div class="sr-only">
        Sebastian Hałaczkiewicz
        Sebastian Halaczkiewicz
        Hałaczkiewicz
        Halaczkiewicz
    </div>

    {% include nav.html %}

    {% include hero.html %}

    {% include expertise.html %}

    {% include skills.html %}

    {% include experience.html %}

    {% include contact.html %}

    {% include footer.html %}

    {% include scripts.html %}

</body>
</html>
